@import "tailwindcss";

@theme {
  --color-lightBg: #f3f4f6;
  --color-whitePanel: #ffffff;
  --color-blueAccent: #2563eb;
}

body {
  background-color: var(--color-lightBg);
  color: #111827;
  margin: 0;
  padding: 0;
}