@import "tailwindcss";

@theme {
  --color-darkBg: #0f172a;
  --color-grayPanel: #1e293b;
  --color-blueAccent: #3b82f6;
}

body {
  background-color: var(--color-darkBg);
  color: #f8fafc;
  margin: 0;
  padding: 0;
}